#Bande 
{
 border-radius: 15px;
 position: absolute;  
 top:1%;
 font-size: 300%;
}

#Nom
{ 
 border-radius: 20px;
 background-color : White; 
}

#BG
{
    height: 100%;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    #BG {
        left: 50%;
        margin-left: -512px;
    }
}

#CoupEpée
{
 position: absolute;
 z-index:-1;
}

#Griffe
{
 position: absolute;
 z-index:-1;
}


#PluieLegos
{
 position: absolute;
 z-index:-1;
}

#Bouclier
{
 position: absolute;
 z-index:-1;
}

#Coeur
{
position: absolute;
left: 5%;
top: 0.5%;  
}

#Oui
{
 padding: 5px 5px;
 z-index: -1;
 background-color: #5C5555;
 position: absolute;
 border-radius: 15px;
 left: 35%; 
 top: 35%;
 box-shadow: 0px 5px #999;
}

#Oui:active {
  background-color: #010101;
  box-shadow: 0px 4px #666;
  transform: translateY(4px);
}

#Non
{
 padding: 5px 5px;
 z-index: -1;
 background-color: #5C5555;
 position: absolute;
 border-radius: 15px;
 left: 55%; 
 top: 35%;
 box-shadow: 0px 5px #999;
}

#Non:active {
  background-color: #010101;
  box-shadow: 0px 4px #666;
  transform: translateY(4px);
}

#c2
{
position: absolute;
left: 8%;
top: 5%;    
}

#c3
{
background-color : White; 
border-radius: 15px;
position: absolute;
left: 40%;  
top: 1%;
font-size: 300%;
}


#button
{
 z-index: 4;
 background-color: White;
 position: absolute;
 border-radius: 25px;
 left: 92%; 
 top: 3%;
}

#Neos
{
 position: absolute;
 top: 35%;
 left: 15%;
}

#Monstre1
{
 position: absolute;
 top: 23%;
 left: 60%;
}

#Monstre2
{
 position: absolute;
 top: 26%;
 left: 78%;
}

#Monstre3
{
 position: absolute;
 top: 10%;
 left: 65%;
 z-index:-1;
}

#CoeurMonstreB1
{
 position: absolute;
 top: 32%;
 left: 68%;
}

#CoeurMonstreB2
{
 position: absolute;
 top: 37%;
 left: 67%;
}

#Coeur1M
{
 position: relative;
 z-index:3;
}

#Coeur2M
{
 position: relative;
 z-index:3;
}

#Coeur3M
{
 position: relative;
 z-index:3;
}


#CoeurMonstre2B1
{
 position: absolute;
 top: 39%;
 left: 85%;
}

#CoeurMonstre2B2
{
 position: absolute;
 top: 45%;
 left: 77%;
}

#Coeur1M2
{
 position: relative;
 z-index:3;
}

#Coeur2M2
{
 position: relative;
 z-index:3;
}

#Coeur3M2
{
 position: relative;
 z-index:3;
}


#CoeurMonstre3B1
{
 position: absolute;
 top: 10%;
 left: 68%;
  z-index:-1;
}

#Coeur4M3
{
 position: relative;
 z-index:-1;
}


#Chevalier1
{
 z-index: -1; 
 position: absolute;
 top: 10%;
 left: 65%;
}

#Chevalier2
{
 z-index: -1; 
 position: absolute;
 top: 10%;
 left: 75%;
}

#carte1
{
  z-index: 3;
 position: absolute;
 top: 68%;
 left: 33%;
 border: 0px;
}

#carte2
{
 z-index: 3;
 position: absolute;
 top: 68%;
 left: 43%;
 border: 0px;
}

#carte3
{
 z-index: 3;
 position: absolute;
 top: 68%;
 left: 53%;
 border: 0px;
}

#Reload1
{
 z-index: 4;
 position: absolute;
 top: 67%;
 left: 40.5%;
 border: 0px;
}

#Reload1:active {
  transform: translateY(4px);
}

#Reload2
{
 z-index: 4;
 position: absolute;
 top: 67%;
 left: 50.5%;
 border: 0px;
}

#Reload2:active {
  transform: translateY(4px);
}


#Reload3
{
 z-index: 4;
 position: absolute;
 top: 67%;
 left: 60.5%;
 border: 0px;
}

#Reload3:active {
  transform: translateY(4px);
}


#GrosseCarte1
{
 z-index:-1;
 position: absolute;
 top: 20%;
 left: 5%;
 border: 0px;
}

#GrosseCarte2
{
 z-index: -1;
 position: absolute;
 top: 20%;
 left: 5%;
 border: 0px;
}

#GrosseCarte3
{
 z-index: -1;
 position: absolute;
 top: 20%;
 left: 5%;
 border: 0px;
}

 #ChoixATK
 {
 z-index: -1;
 position: absolute;
 top: 20%;
 left: 39.5%;   
 background-color: White;
 border-radius: 25px;
 }

 #ChoixDEF
 {
 z-index: -1;
 position: absolute;
 top: 20%;
 left: 39.5%; 
 background-color: White;
 border-radius: 25px;
 }

#Choix1
{
 z-index: -1;
 position: absolute;
 top: 57%;
 left: 36%;
}

#Choix2
{
 z-index: -1;
 position: absolute;
 top: 57%;
 left: 46%;
}

#Choix3
{
 z-index: -1;
 position: absolute;
 top: 57%;
 left: 56%;
}

#Carte1Click
{
 z-index: -1;
 position: absolute;
}

#Carte2Click
{
 z-index: -1;
 position: absolute;
}

#Carte3Click
{
 z-index: -1;
 position: absolute;
}

#Carte4Click
{
 z-index: -1;
 position: absolute;
}

#Carte5Click
{
 z-index: -1;
 position: absolute;
}